*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwzw

*.ipynb
*.ipynb_checkpoints
*.ipynb_checkpoints/*
*.ipynb_checkpoints/*/*
*.ipynb_checkpoints/*/*/*
*.ipynb_checkpoints/*/*/*/*
*.ipynb_checkpoints/*/*/*/*/*
*.ipynb_checkpoints/*/*/*/*/*/*
*.ipynb_checkpoints/*/*/*/*/*/*/*